@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

*{
    font-family: Poppins;
}

body{
    background-color: E5E5E5;
}

.nav-item{
    size: 50px;
    color: black;
    
}
