@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

*{
    font-family: Poppins;
}

body{
    background-color: E5E5E5;
    scroll-behavior: smooth;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
li img{
    width: 50px;
    opacity: 50%;
}
.active img{
    opacity: 100%;
}

p{
    font-size: 10px;
}

.container{
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.row{
    margin-bottom: 5px;
}

.btn{
    position: relative;
    border-radius: 10px;
    background-color: #E0E4FF;
    border-style: none;
    cursor: pointer;
    
}

.btn .active{
    background-color: #413B93;
}
