@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

*{
    font-family: Poppins;
}

.container{
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.row{
    margin-bottom: 5px;
}

.btn{
    position: relative;
    border-radius: 10px;
    background-color: #E0E4FF;
    border-style: none;
    cursor: pointer;

}

.label{
    color: black;
}

.btn .active{
    background-color: #413B93;
}

.input-group mb-3{
    border-radius: 10px;
}

#searchbox{
    margin-top: 15px;
    border-radius: 10px;
}

#table{
    margin-top: 5px;
}

.btn-periksa{
    background-color: #413B93;
    color: #fff;
    border: 0;
    border-radius: 15px;
    padding: 10px 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 11px;
}

.modal-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    top: 75vh;
    left: 100vw;
    height: 15vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal{
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2);

}
