@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

*{
    font-family: Poppins;
}

.container{
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.h2{
    color: #E0E4FF;
    font-size: 10px;

}

.row{
    margin-bottom: 5px;
}

.btn{
    position: relative;
    border-radius: 10px;
    background-color: #E0E4FF;
    border-style: none;
    cursor: pointer;

}

.label{
    color: black;
}

.btn .active{
    background-color: #413B93;
}

.input-group mb-3{
    border-radius: 10px;
}

#searchbox{
    margin-top: 15px;
    border-radius: 10px;
}

#table{
    margin-top: 5px;
}

.btn-submit{
    color: #E0E4FF;
    background-color: #413B93;
    border-radius: 15px;
    border-style: none;
    padding: 5px 7px;
}

#quantity{
    justify-content: center;
    text-align: center;
    width: 35px;
    border-radius: 10px;
}
