*{
    font-family: "Poppins";
}
.logo{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-right: 50px;
}
.logo img{
    width: 110px;
    border-radius: 100px;
}
.kontendata label{
    font-weight: 600;
    font-size: 18px;
    line-height: 128.91%;
    margin-bottom: 7px;
}
.kontendata input[type="text"]{
    background-color: #EEEEEE;
    border-radius: 7px;
    line-height: 34px;
    width: 312px;
    margin-bottom: 15px;
    padding-left: 10px;
}
.kontendata input[type="number"]{
    background-color: #EEEEEE;
    border-radius: 7px;
    line-height: 34px;
    width: 312px;
    margin-bottom: 15px;
    padding-left: 10px;
}
.button{
    display: flex;
    flex-direction: row-reverse;
}
.button input[type="button"]{
    background-color: #413B93;
    color: white;
    font-size: 15px;
    width: 140px;
    height: 40px;
    padding: 7px 10px 7px 10px;
    border-radius: 10px;
    border: none;
}
.buttonpassword{
    display: flex;
    flex-direction: row-reverse;
}
.buttonpassword input[type="button"]{
    background-color: #413B93;
    color: white;
    font-size: 15px;
    width: 140px;
    height: 40px;
    padding: 7px 10px 7px 10px;
    border-radius: 10px;
    border: none;
}
.logout{
    display: flex;
    justify-content: center;
    margin-top: 45px;
}
#keluar {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 180px;
}

