*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins";
}
.top{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}
.combbox select{
    background-color: #413B93;
    border-radius: 5px;
    color: #FFFFFF;
    width: -webkit-fill-available;
    height: 35px;
}
.combbox option{
    background: #ffffff;
    border-radius: 5px;
    color: black;
}
.searchbox input[type="text"]{
    background: #FFFFFF;
    border-radius: 5px;
    width: -webkit-fill-available;
    height: 35px;
    border: none;
    padding-left: 5px;
    margin-right: 5px;
    outline: none;
}

.searchbox i {
    position: absolute;
}
.searchbox {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.icon {
    padding: 5px 5px 5px 10px;
    min-width: 40px;
}
/* Table */
.kontentable{
    font-size: 12px;
    margin-top: 15px;
    height: 745px;
    overflow-y: auto;
}
.kontentable img{
    width: 15px;
}

.header{
    text-align: center;
    background: #E0E4FF;
    border-radius: 5px;
}
.tengah{
    text-align: center;
}
tr.table-putih{
    background-color: white;
}
tr.table-ungu{
    background-color: #f3f1ff;
}
.addbutton{
    position: absolute;
    top: 790px;
    left: 348px;
}
.addbutton img{
    width: 35px;
}

/* Edit Produk */
.baru{
    background: #413B93;
    border-radius: 10px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.detail{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.detailrestok{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.restokrestok{
    background: #413B93;
    border-radius: 10px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.contentbawah{
    margin-top: 50px;
    margin-left: 30px;
}
.judul{
    margin-top: 10px;
}
.inputbox{
    margin-top: 2px;
}
.inputbox input[type="Text"]{
    background-color: #ffffff;
    border-radius: 7px;
    line-height: 34px;
    width: 312px;
    padding-left: 10px;
}
.inputbox input[type="number"]{
    background-color: #ffffff;
    border-radius: 7px;
    line-height: 34px;
    width: 312px;
    padding-left: 10px;
}
.inputbox input[type="date"]{
    background-color: #ffffff;
    border-radius: 7px;
    line-height: 34px;
    width: 312px;
    padding-left: 10px;
}
.inputbox select{
    background-color: #ffffff;
    border-radius: 7px;
    width: 312px;
    padding-left: 10px;
    height: 35px;
}
.buttonhapus input[type="button"]{
    background-color: #FF0000;
    color: white;
    font-size: 15px;
    width: 100px;
    height: 40px;
    /* padding: 7px 10px 7px 10px; */
    border-radius: 15px;
    border: none;
    background-image: url(../public/img/trashcan.png); /* 16px x 16px */
    background-repeat: no-repeat;  /* make the background image appear only once */
}
.buttonbatal input[type="button"]{
    background-color: #FF0000;
    color: white;
    font-size: 15px;
    width: 100px;
    height: 40px;
    padding: 7px 10px 7px 10px;
    border-radius: 15px;
    border: none;
}
.buttonsimpan input[type="button"]{
    background-color: #23A042;
    color: white;
    font-size: 15px;
    width: 100px;
    height: 40px;
    padding: 7px 10px 7px 10px;
    border-radius: 15px;
    border: none;
}
.searchbox input[type="text"]{
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
}

.daftarsupplier{
    background: #413B93;
    border-radius: 10px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.riwayatsupplier{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
}
.detaildetail{
    background: #413B93;
    border-radius: 10px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.laporandetail{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
