*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins";
}
.top{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}
.combbox select{
    background-color: #413B93;
    border-radius: 5px;
    color: #FFFFFF;
    width: -webkit-fill-available;
    height: 35px;
}
.combbox option{
    background: #ffffff;
    border-radius: 5px;
    color: black;
}
.searchbox input[type="text"]{
    background: #FFFFFF;
    border-radius: 5px;
    width: -webkit-fill-available;
    height: 35px;
    border: none;
    padding-left: 5px;
    margin-right: 5px;
    outline: none;
}

.searchbox i {
    position: absolute;
}
.searchbox {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.icon {
    padding: 5px 5px 5px 10px;
    min-width: 40px;
}
/* Table */
.kontentable{
    font-size: 12px;
    margin-top: 15px;
}
.header{
    text-align: center;
    background: #E0E4FF;
    border-radius: 5px;
}
.tengah{
    text-align: center;
}
tr.table-putih{
    background-color: white;
}
tr.table-ungu{
    background-color: #f3f1ff;
}
