*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f3f1ff;
}
body{
    color : black;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    font-weight: bold;
}

header{
    border-bottom: 2px solid black;
}
.image {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
}
.image img {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
}

[class*="col-"] {
    float: left;
    padding: 15px;
  }

  
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
.background{
    display: flex;
    margin: 10px auto 10px auto;
    border: 1px solid black;
    width: 296px;
    height: 261px;
    justify-content: center;
    padding: 10px auto 10px auto;
}

.head{
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subhead{
    display: flex;
    justify-content: center;
    align-items: center;

}
.toko{
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f3f1ff;
    font-size: 40px;
    text-shadow: -1px 1px 0 #000,1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000;
}
header,
form{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login input[type="text"]{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login input[type="password"]{
    display: flex;
    justify-content: center;
    align-items: center;
}

form button{
    color: black;
    background:white;
    cursor: pointer;
    transition: all 0.3s ease; 
    padding:5px;
}

form button:hover{
background: rgb(255, 166, 0);
color: white;
} */
.signup{
    font-size: smaller
}

.input-icons i {
    position: absolute;
    margin-left: -25px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }